.PopupDiv.pdiv_WF_Bg
{
	border : 2px solid #A598EF;
	background : #ece8f1;
	border-radius : 2%;
}
.PopupDiv.pdiv_WF_Bg1
{
	background : #ffffff;
	border : 1px solid #DEDEDE;
}
.PopupDiv.pdiv_WF_combo
{
	background : #ffffff;
	border-radius : 4%;
	border : 1px solid #DEDEDE;
}
.Static.sta_WF_titlebar
{
	border : 2px solid #A598EF;
	border-radius : 2% 2% 0px 0px;
	background : #A598EF;
	color : #ffffff;
}
.Button.btn_WF_close
{
	background : transparent;
	border : 0px none;
	color : #ffffff;
}
.Static.sta_WF_calback
{
	background : #d1caf5;
	border : 1px solid #af90cf;
}
.Static.sta_WF_calhead
{
	background : #5A44D6;
}
.Button.btn_WF_calprev
{
	background : transparent;
	border : 0px none;
	opacity : 0.5;
}
.Button.btn_WF_calnext
{
	background : transparent;
	border : 0px none;
	opacity : 0.5;
}
.Button.btn_WF_calprev_year
{
	background : transparent;
	border : 0px none;
	opacity : 0.5;
}
.Button.btn_WF_calnext_year
{
	background : transparent;
	border : 0px none;
	opacity : 0.5;
}
.Static.sta_WF_calyear
{
	font : bold 14px Tahoma;
	color : #ffffff;
	background : transparent;
}
.Static.sta_WF_calyear .nexacontentsbox
{
	text-align : center;
}
.Edit.edt_WF_Cbo
{
	background : url('./../../../_resource_/_images_/chk_WF_Box16px_F.png') no-repeat 3% center #ffffff;
	border : 1px solid #dddddd;
	padding : 0px 45px 0px 30px;
	color : #333333;
	font : 13px "Noto Sans KR Regular";
}
.Button.btn_WF_cal
{
	border : 0px none;
	background : transparent;
}
.Button.btn_WF_calFind
{
	border : 0px none;
	background : url('./../../../_resource_/_images_/CustomCalendar/img_WF_calBg.png') no-repeat center transparent;
}
.Button.btn_WF_Drop
{
	background : transparent;
	border : 0px none;
}
.Grid.grd_WF_Cbo
{
	border : 0px none;
	color : #333333;
	font : 13px "Noto Sans KR Regular";
}
.Grid.grd_WF_Cbo .body .row .cell
{
	border : 0px none;
	color : #333333;
}
.Button.btn_WF_basic
{
	border : 0px none;
	border-radius : 5px;
	color : #ffffff;
	font : 14px "Noto Sans KR Regular";
	background : #FE5252;
}
.Button.btn_WF_cal01
{
	border : 0px none;
	background : transparent;
}
.Button.btn_WF_cal02
{
	border : 0px none;
	background : transparent;
}
.Button.btn_WF_cal03
{
	border : 0px none;
	background : transparent;
}
.Button.btn_WF_cal04
{
	border : 0px none;
	background : transparent;
}
.Button.btn_WF_cal05
{
	border : 0px none;
	background : transparent;
}
.Button.btn_WF_cal06
{
	border : 0px none;
	background : transparent;
}
.Button.btn_WF_cal07
{
	border : 0px none;
	background : transparent;
}
.Button.btn_WF_cal08
{
	border : 0px none;
	background : transparent;
}
.Button.btn_WF_cal09
{
	border : 0px none;
	background : transparent;
}
.Button.btn_WF_cal10
{
	border : 0px none;
	background : transparent;
}
.Button.btn_WF_cal11
{
	border : 0px none;
	background : transparent;
}
.Button.btn_WF_cal12
{
	border : 0px none;
	background : transparent;
}
.Button.btn_WF_today
{
	border : 1px solid #A0A1A3;
	background : #EFF5FC;
	color : #111111;
}
.Static.sta_WF_prop
{
	background : #EFF5FC;
	border : 1px solid #A0A1A3;
	color : #111111;
}
.Static.sta_WF_prop .nexacontentsbox
{
	text-align : center;
}
.Combo.cmb_WF_calendar
{
	border : 0px none;
	background : transparent;
	color : #ffffff;
}
.Combo.cmb_WF_calendar .comboedit
{
	font : bold 14px "Noto Sans KR Regular";
}
.Combo.cmb_WF_calendar .comboedit .nexainput
{
	text-align : center;
}
.Combo.cmb_WF_calendar .comboedit .nexacontentsbox
{
	text-align : center;
}
.Grid.grd_WF_customCalendar
{
	border : 1px solid #8776E8;
	background : #ffffff;
}
.Grid.grd_WF_customCalendar .body .row .cell
{
	border : 0px none;
}
.Grid.grd_WF_customCalendar .body .row .cell.grd_sunday
{
	color : #FA758C;
}
.Grid.grd_WF_customCalendar .body .row .cell.grd_saturday
{
	color : #56AFFF;
}
.Static.sta_WF_headBg
{
	background : #6954E1;
}
.Grid.grd_WF_check .body .row .cell
{
	background : transparent;
	color : #555555;
	border : 1px solid #E2E2E3,0px none;
}
.Grid.grd_WF_check .body .row .cell.oddcell
{
	background : transparent;
}
.Button.btn_WF_radio_select
{
	font : 14px "Noto Sans KR Regular";
	border : 0px none;
	border-radius : 25px;
	color : #ffffff;
	background : #a8a8a8;
}
.Button.btn_WF_radio_notselect
{
	font : 14px "Noto Sans KR Regular";
	border : 0px none;
	border-radius : 25px;
	color : #ffffff;
	background : #d8d8d8;
}
.Button.btn_WF_close[status=mouseover]
{
	background : transparent;
	border : 0px none;
	color : #ffffff;
}
.Button.btn_WF_close[status=focused]
{
	background : transparent;
	border : 0px none;
	color : #ffffff;
}
.Button.btn_WF_calprev[status=mouseover]
{
	background : transparent;
	border : 0px none;
	opacity : 1;
}
.Button.btn_WF_calprev[status=focused]
{
	background : transparent;
	border : 0px none;
	opacity : 1;
}
.Button.btn_WF_calnext[status=mouseover]
{
	background : transparent;
	border : 0px none;
	opacity : 1;
}
.Button.btn_WF_calnext[status=focused]
{
	background : transparent;
	border : 0px none;
	opacity : 1;
}
.Button.btn_WF_calprev_year[status=mouseover]
{
	background : transparent;
	border : 0px none;
	opacity : 1;
}
.Button.btn_WF_calprev_year[status=focused]
{
	background : transparent;
	border : 0px none;
	opacity : 1;
}
.Button.btn_WF_calnext_year[status=mouseover]
{
	background : transparent;
	border : 0px none;
	opacity : 1;
}
.Button.btn_WF_calnext_year[status=focused]
{
	background : transparent;
	border : 0px none;
	opacity : 1;
}
.Edit.edt_WF_Cbo[status=readonly]
{
	background : url('./../../../_resource_/_images_/chk_WF_Box16px_F.png') no-repeat 3% center #ffffff;
	border : 1px solid #dddddd;
	padding : 0px 45px 0px 30px;
	color : #333333;
	font : 13px "Noto Sans KR Regular";
}
.Edit.edt_WF_Cbo[status=mouseover]
{
	background : url('./../../../_resource_/_images_/chk_WF_Box16px_F.png') no-repeat 3% center #ffffff;
	border : 1px solid #313340;
}
.Edit.edt_WF_Cbo[status=focused]
{
	background : url('./../../../_resource_/_images_/chk_WF_Box16px_F.png') no-repeat 3% center #ffffff;
	border : 1px solid #313340;
}
.Button.btn_WF_cal[status=focused]
{
	border : 0px none;
	background : transparent;
}
.Button.btn_WF_cal[status=mouseover]
{
	border : 0px none;
	border-radius : 0px 0px 0px 3px;
	background : transparent;
}
.Button.btn_WF_calFind[status=focused]
{
	border : 0px none;
	background : url('./../../../_resource_/_images_/CustomCalendar/img_WF_calBg.png') no-repeat center transparent;
}
.Button.btn_WF_calFind[status=mouseover]
{
	border : 0px none;
	border-radius : 0px 0px 0px 3px;
	background : url('./../../../_resource_/_images_/CustomCalendar/img_WF_calBg.png') no-repeat center transparent;
}
.Button.btn_WF_Drop[status=focused]
{
	background : transparent;
	border : 0px none;
}
.Button.btn_WF_Drop[status=mouseover]
{
	background : transparent;
	border : 0px none;
}
.Grid.grd_WF_Cbo .body .row .cell[status=mouseover]
{
	background : #e4f0fe;
}
.Button.btn_WF_basic[status=focused]
{
	border : 0px none;
	border-radius : 5px;
	color : #ffffff;
	font : 14px "Noto Sans KR Regular";
	background : #FE5252;
}
.Button.btn_WF_basic[status=mouseover]
{
	border : 0px none;
	background : #FC4F4F;
	border : 1px solid #517EB7;
}
.Button.btn_WF_cal01[status=focused]
{
	border : 0px none;
	background : transparent;
}
.Button.btn_WF_cal01[status=mouseover]
{
	border : 0px none;
	background : transparent;
}
.Button.btn_WF_cal02[status=focused]
{
	border : 0px none;
	background : transparent;
}
.Button.btn_WF_cal02[status=mouseover]
{
	border : 0px none;
	background : transparent;
}
.Button.btn_WF_cal03[status=focused]
{
	border : 0px none;
	background : transparent;
}
.Button.btn_WF_cal03[status=mouseover]
{
	border : 0px none;
	background : transparent;
}
.Button.btn_WF_cal04[status=focused]
{
	border : 0px none;
	background : transparent;
}
.Button.btn_WF_cal04[status=mouseover]
{
	border : 0px none;
	background : transparent;
}
.Button.btn_WF_cal05[status=focused]
{
	border : 0px none;
	background : transparent;
}
.Button.btn_WF_cal05[status=mouseover]
{
	border : 0px none;
	background : transparent;
}
.Button.btn_WF_cal06[status=focused]
{
	border : 0px none;
	background : transparent;
}
.Button.btn_WF_cal06[status=mouseover]
{
	border : 0px none;
	background : transparent;
}
.Button.btn_WF_cal07[status=focused]
{
	border : 0px none;
	background : transparent;
}
.Button.btn_WF_cal07[status=mouseover]
{
	border : 0px none;
	background : transparent;
}
.Button.btn_WF_cal08[status=focused]
{
	border : 0px none;
	background : transparent;
}
.Button.btn_WF_cal08[status=mouseover]
{
	border : 0px none;
	background : transparent;
}
.Button.btn_WF_cal09[status=focused]
{
	border : 0px none;
	background : transparent;
}
.Button.btn_WF_cal09[status=mouseover]
{
	border : 0px none;
	background : transparent;
}
.Button.btn_WF_cal10[status=focused]
{
	border : 0px none;
	background : transparent;
}
.Button.btn_WF_cal10[status=mouseover]
{
	border : 0px none;
	background : transparent;
}
.Button.btn_WF_cal11[status=focused]
{
	border : 0px none;
	background : transparent;
}
.Button.btn_WF_cal11[status=mouseover]
{
	border : 0px none;
	background : transparent;
}
.Button.btn_WF_cal12[status=focused]
{
	border : 0px none;
	background : transparent;
}
.Button.btn_WF_cal12[status=mouseover]
{
	border : 0px none;
	background : transparent;
}
.Button.btn_WF_today[status=focused]
{
	border : 1px solid #A0A1A3;
	background : #EFF5FC;
	color : #111111;
}
.Button.btn_WF_today[status=mouseover]
{
	border : 1px solid #A0A1A3;
	background : #E0EBF8;
}
.Combo.cmb_WF_calendar[status=mouseover]
{
	border : 0px none,0px none,1px solid #8473E3;
}
.Combo.cmb_WF_calendar[status=focused]
{
	border : 0px none,0px none,1px solid #8473E3;
}
.Combo.cmb_WF_calendar[status=readonly]
{
	border : 0px none;
	opacity : 0.5;
}
.Grid.grd_WF_check .body .row .cell[status=mouseover]
{
	background : #F1EFFF;
}
.Button.btn_WF_radio_select[status=focused]
{
	font : 14px "Noto Sans KR Regular";
	border : 0px none;
	border-radius : 25px;
	color : #ffffff;
	background : #a8a8a8;
}
.Button.btn_WF_radio_select[status=mouseover]
{
	border : 0px none;
	border-radius : 25px;
}
.Button.btn_WF_radio_notselect[status=focused]
{
	font : 14px "Noto Sans KR Regular";
	border : 0px none;
	border-radius : 25px;
	color : #ffffff;
	background : #d8d8d8;
}
.Button.btn_WF_radio_notselect[status=mouseover]
{
	border : 0px none;
	border-radius : 25px;
}
.Button.btn_WF_close[userstatus=pushed]
{
	background : transparent;
	border : 0px none;
	color : #ffffff;
}
.Button.btn_WF_calprev[userstatus=pushed]
{
	background : transparent;
	border : 0px none;
	opacity : 1;
}
.Button.btn_WF_calnext[userstatus=pushed]
{
	background : transparent;
	border : 0px none;
	opacity : 1;
}
.Button.btn_WF_calprev_year[userstatus=pushed]
{
	background : transparent;
	border : 0px none;
	opacity : 1;
}
.Button.btn_WF_calnext_year[userstatus=pushed]
{
	background : transparent;
	border : 0px none;
	opacity : 1;
}
.Edit.edt_WF_Cbo[userstatus=nulltext]
{
	color : #aeaeae;
}
.Button.btn_WF_cal[userstatus=pushed]
{
	border : 0px none;
	border-radius : 0px 0px 0px 3px;
	background : transparent;
}
.Button.btn_WF_cal[userstatus=selected]
{
	border : 0px none;
	border-radius : 0px 0px 0px 3px;
	background : transparent;
}
.Button.btn_WF_calFind[userstatus=pushed]
{
	border : 0px none;
	border-radius : 0px 0px 0px 3px;
	background : url('./../../../_resource_/_images_/CustomCalendar/img_WF_calBg.png') no-repeat center transparent;
}
.Button.btn_WF_calFind[userstatus=selected]
{
	border : 0px none;
	border-radius : 0px 0px 0px 3px;
	background : url('./../../../_resource_/_images_/CustomCalendar/img_WF_calBg.png') no-repeat center transparent;
}
.Grid.grd_WF_Cbo .body .row .cell[userstatus=selected]
{
	background : #8ec2ff;
}
.Button.btn_WF_basic[userstatus=pushed]
{
	border : 0px none;
	background : #F34747;
}
.Button.btn_WF_basic[userstatus=selected]
{
	border : 0px none;
	background : #F34747;
}
.Button.btn_WF_cal01[userstatus=pushed]
{
	border : 0px none;
	background : transparent;
}
.Button.btn_WF_cal01[userstatus=selected]
{
	border : 0px none;
	background : transparent;
}
.Button.btn_WF_cal02[userstatus=pushed]
{
	border : 0px none;
	background : transparent;
}
.Button.btn_WF_cal02[userstatus=selected]
{
	border : 0px none;
	background : transparent;
}
.Button.btn_WF_cal03[userstatus=pushed]
{
	border : 0px none;
	background : transparent;
}
.Button.btn_WF_cal03[userstatus=selected]
{
	border : 0px none;
	background : transparent;
}
.Button.btn_WF_cal04[userstatus=pushed]
{
	border : 0px none;
	background : transparent;
}
.Button.btn_WF_cal04[userstatus=selected]
{
	border : 0px none;
	background : transparent;
}
.Button.btn_WF_cal05[userstatus=pushed]
{
	border : 0px none;
	background : transparent;
}
.Button.btn_WF_cal05[userstatus=selected]
{
	border : 0px none;
	background : transparent;
}
.Button.btn_WF_cal06[userstatus=pushed]
{
	border : 0px none;
	background : transparent;
}
.Button.btn_WF_cal06[userstatus=selected]
{
	border : 0px none;
	background : transparent;
}
.Button.btn_WF_cal07[userstatus=pushed]
{
	border : 0px none;
	background : transparent;
}
.Button.btn_WF_cal07[userstatus=selected]
{
	border : 0px none;
	background : transparent;
}
.Button.btn_WF_cal08[userstatus=pushed]
{
	border : 0px none;
	background : transparent;
}
.Button.btn_WF_cal08[userstatus=selected]
{
	border : 0px none;
	background : transparent;
}
.Button.btn_WF_cal09[userstatus=pushed]
{
	border : 0px none;
	background : transparent;
}
.Button.btn_WF_cal09[userstatus=selected]
{
	border : 0px none;
	background : transparent;
}
.Button.btn_WF_cal10[userstatus=pushed]
{
	border : 0px none;
	background : transparent;
}
.Button.btn_WF_cal10[userstatus=selected]
{
	border : 0px none;
	background : transparent;
}
.Button.btn_WF_cal11[userstatus=pushed]
{
	border : 0px none;
	background : transparent;
}
.Button.btn_WF_cal11[userstatus=selected]
{
	border : 0px none;
	background : transparent;
}
.Button.btn_WF_cal12[userstatus=pushed]
{
	border : 0px none;
	background : transparent;
}
.Button.btn_WF_cal12[userstatus=selected]
{
	border : 0px none;
	background : transparent;
}
.Button.btn_WF_today[userstatus=selected]
{
	border : 1px solid #A0A1A3;
	background : #E0EBF8;
}
.Button.btn_WF_today[userstatus=pushed]
{
	border : 1px solid #A0A1A3;
	background : #D6E5F6;
}
.Grid.grd_WF_check .body .row .cell[userstatus=selected]
{
	background : transparent;
	color : #555555;
	border : 1px solid #E2E2E3,0px none;
}
.Grid.grd_WF_check .body .row .cell.oddcell[userstatus=selected]
{
	background : transparent;
}
.Button.btn_WF_radio_select[userstatus=pushed]
{
	border : 0px none;
	border-radius : 25px;
}
.Button.btn_WF_radio_select[userstatus=selected]
{
	border : 0px none;
	border-radius : 25px;
}
.Button.btn_WF_radio_notselect[userstatus=pushed]
{
	border : 0px none;
	border-radius : 25px;
}
.Button.btn_WF_radio_notselect[userstatus=selected]
{
	border : 0px none;
	border-radius : 25px;
}
.Edit.edt_WF_Cbo[status=disabled]
{
	background : url('./../../../_resource_/_images_/chk_WF_Box16px_F.png') no-repeat 3% center #ffffff;
	opacity : 0.5;
}
.Button.btn_WF_cal[status=disabled]
{
	border : 0px none;
	background : transparent;
	opacity : 0.6;
}
.Button.btn_WF_calFind[status=disabled]
{
	border : 0px none;
	background : url('./../../../_resource_/_images_/CustomCalendar/img_WF_calBg.png') no-repeat center transparent;
	opacity : 0.6;
}
.Button.btn_WF_Drop[status=disabled]
{
	background : transparent;
	border : 0px none;
	opacity : 0.5;
}
.Button.btn_WF_basic[status=disabled]
{
	border : 0px none;
	background : #FF9FA6;
	color : #ffffff;
}
.Button.btn_WF_cal01[status=disabled]
{
	border : 0px none;
	background : transparent;
	opacity : 0.6;
}
.Button.btn_WF_cal02[status=disabled]
{
	border : 0px none;
	background : transparent;
	opacity : 0.6;
}
.Button.btn_WF_cal03[status=disabled]
{
	border : 0px none;
	background : transparent;
	opacity : 0.6;
}
.Button.btn_WF_cal04[status=disabled]
{
	border : 0px none;
	background : transparent;
	opacity : 0.6;
}
.Button.btn_WF_cal05[status=disabled]
{
	border : 0px none;
	background : transparent;
	opacity : 0.6;
}
.Button.btn_WF_cal06[status=disabled]
{
	border : 0px none;
	background : transparent;
	opacity : 0.6;
}
.Button.btn_WF_cal07[status=disabled]
{
	border : 0px none;
	background : transparent;
	opacity : 0.6;
}
.Button.btn_WF_cal08[status=disabled]
{
	border : 0px none;
	background : transparent;
	opacity : 0.6;
}
.Button.btn_WF_cal09[status=disabled]
{
	border : 0px none;
	background : transparent;
	opacity : 0.6;
}
.Button.btn_WF_cal10[status=disabled]
{
	border : 0px none;
	background : transparent;
	opacity : 0.6;
}
.Button.btn_WF_cal11[status=disabled]
{
	border : 0px none;
	background : transparent;
	opacity : 0.6;
}
.Button.btn_WF_cal12[status=disabled]
{
	border : 0px none;
	background : transparent;
	opacity : 0.6;
}
.Button.btn_WF_today[status=disabled]
{
	border : 1px solid #A0A1A3;
	background : #EFF5FC;
	opacity : 0.6;
}
.Combo.cmb_WF_calendar[status=disabled]
{
	border : 0px none;
	opacity : 0.5;
}
.Combo.cmb_WF_calendar .dropbutton[status=disabled]
{
	opacity : 0.5;
}
.Button.btn_WF_radio_select[status=disabled]
{
	border : 0px none;
	opacity : 0.8;
	background : #d8d8d8;
	border-radius : 25px;
}
.Button.btn_WF_radio_notselect[status=disabled]
{
	border : 0px none;
	opacity : 0.8;
	background : #d8d8d8;
	border-radius : 25px;
}
